@import url('https://fonts.googleapis.com/css2?family=Acme&family=Cookie&family=Fuzzy+Bubbles&family=Lobster&family=Pacifico&family=Redressed&family=Shadows+Into+Light&family=Vujahday+Script&display=swap');

.img {
  margin-top: 10%;
  margin-bottom: auto;
  align-items: center;    
}

#contenedor {
    background: #FFFF,
    
}

.div-form {
  
  padding: 1%;
  background: linear-gradient(-45deg,  #ffff , #f5f2eeec, #FFFF,#f1e6c7);  
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15%;
 
}

.title-form {
  color:#eb0404;
  font-family: 'Gill Sans MT';
  margin: 0;
  text-align: center;
  font-size:x-large;
}

.form-mail {
  width: 20rem;
  border: groove 3px #ffff;
  border-radius:8px;
  box-shadow: -2px 1px #535366;
  background: #597888;  
  background: linear-gradient(to right, #f6f9fa, #f1f6f8);  
  opacity: 0.8;  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}

hr {
  width: 10rem;
}

label {
  font-size: 1rem;
  color: #eb0404;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

input {
  font-size: 1rem;
  background:#ffff;
  box-shadow:  -1px 1px rgb(199, 194, 194);
  border-radius: 8px;
  color: #0a0a0a;
  text-align: center;
}

textarea {
  box-shadow:  -1px 1px rgb(199, 194, 194);
  border-radius: 8px;
  background-color:  #ffff;
  padding: 0.2rem;
  
}
 

button {
  width: 8rem;
  border-radius: 8px;
  color: rgb(0, 7, 0);
  background-color: #e6e0c4;
  cursor: pointer;
  font-family:'Gill Sans MT';
  font-size:100%;
  border-style: solid;

  
}

button:hover,
button:focus {
  background-color:  #eb0404;
  font-size: 1.2rem;
  font-weight: 500;
  
}

.btn-retorno{
  width: 8rem;
  color: rgb(0, 7, 0);
  cursor: pointer;
  font-family:'Gill Sans MT';
  font-size:100%;
 
}
