#contenedor1 {
   
    padding: 1%;
    background: linear-gradient(-45deg,  #ffff , #f5f2eeec, #FFFF,#f1e6c7);  
    margin-bottom: 7%;
    
}

#carrito {
   
    margin-bottom: 2%;
    padding-top: 3%;
}

#productos {

    margin-bottom: 5%;
    padding-top: 3%;

}